<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мой путь обучения</title>
  <link rel="stylesheet" href="/css/RoadmapPage.css">
</head>
<body>
<div id="root"></div>

<script>
  const userId = window.location.pathname.split('/')[2];
  window.ROADMAP_USER_ID = userId;
</script>
<script src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="/react/RoadmapPage.js"></script>
</body>
</html>